@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

:root {
	--white: #ffffff;
	--primary-focus: #D8E3FF;
	--neutral-primary : #172426;
	--neutral-disabled : #718284;
	--neutral-border : #E5E5E5;
	--primary-main : #0469FF;
	--primary-surface : #F5F6FD;
	--neutral-secondary : #3F4E50;
}

* {
	font-family: "open sans", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

.h-100 {
	height: 100%;
}
h-50{
	height: 50px;
}

.title-content {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: var(--neutral-primary)
}

.sub-title-content {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: var(--neutral-secondary);
}

.box-icon {
	background: #F5F6FD;
	border-radius: 8px;
	padding: 10px;
}

.title-small-card-dashboard {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #3F4E50;
}

.value-small-card-dashboard {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #172426;
}

.unit-small-card-dashboard {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #3F4E50;
}

.card {
	background: #FFFFFF;
	border-radius: 8px;
	padding: 15px;
}

.card-head {
	background: #FFFFFF;
	border-radius: 8px;
}

.card-head-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.002em;
	color: #3F4E50;
}

.title-secondary-card {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.002em;
	color: #000000;
}

.card-col-head {
	padding: 10px;
	border-right: 1px solid #E5E5E5;
}

.card-head-2 {
	background: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #E5E5E5;
}

.title-card-dashboard {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #3F4E50;
}

.title-card-dashboard-margin-top {
	margin-top: 10px;
}

.img-detail {
	border-radius: 8px;
}

.main-title-card-detail {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #172426;
}

.main-sub-title-card-detail {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #3F4E50;
}

.secondary-title-card-detail {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #172426;
}

.caption-card-detail {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.002em;
	color: #3F4E50;
}

.caption-card-detail-2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #3F4E50;
}

.content-card-detail {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #172426;
}

.content-card-detail-success{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #02C58F;
}

.content-card-detail-pending{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--neutral-disabled);
}

.content-card-detail-danger{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #FF5963;
}

.obligatory-input {
	color: #FF5963;
}

.link-detail {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.002em;
	color: #0469FF;
}

.padding-item-solo {
	padding-right: 15px;
}

.card-secondary {
	border: 1px solid #E5E5E5;
	padding: 16px;
	border-radius: 18px;
}

.label-success {
	padding: 6px 16px;
	background: #02C58F;
	border-radius: 8px;
	color: var(--white);
	width: fit-content;
	height: fit-content;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.label-danger {
	padding: 6px 16px;
	background: #FF5963;
	border-radius: 8px;
	color: var(--white);
	width: fit-content;
	height: fit-content;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.label-pending {
	padding: 6px 16px;
	background: #718284;
	border-radius: 8px;
	color: var(--white);
	width: fit-content;
	height: fit-content;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.h-90 {
	height: 90%;
}

.h-80 {
	height: 80%;
}

.h-70 {
	height: 70%;
}

.h-60 {
	height: 60%;
}

.h-50 {
	height: 50%;
}

.h-40 {
	height: 40%;
}

.h-30 {
	height: 30%;
}

.h-20 {
	height: 20%;
}

.h-10 {
	height: 10%;
}

.w-200 {
	width: 200%;
}

.w-190 {
	width: 190%;
}

.w-180 {
	width: 180%;
}

.w-170 {
	width: 170%;
}

.w-160 {
	width: 160%;
}

.w-150 {
	width: 150%;
}

.w-140 {
	width: 140%;
}

.w-130 {
	width: 130%;
}

.w-120 {
	width: 120%;
}

.w-komp {
	width: 18.7%;
}

.w-100 {
	width: 100%;
}

.w-90 {
	width: 90%;
}

.w-80 {
	width: 80%;
}

.w-70 {
	width: 70%;
}

.w-60 {
	width: 60%;
}

.w-50 {
	width: 50%;
}

.w-45 {
	width: 455%;
}

.w-48 {
	width: 48.5%;
}

.w-40 {
	width: 40%;
}

.w-33 {
	width: 33%;
}

.hidden {
	visibility: hidden;
}

.w-31 {
	width: 31.4%;
}

.w-30 {
	width: 30%;
}

.w-25 {
	width: 25%;
}

.w-20 {
	width: 20%;
}

.w-15 {
	width: 15%;
}

.w-9 {
	width: 9%;
}

.vw-100 {
	width: 100vw;
}

.vw-90 {
	width: 90vw;
}

.vw-80 {
	width: 80vw;
}

.vw-70 {
	width: 70vw;
}

.vw-60 {
	width: 60vw;
}

.vw-50 {
	width: 50vw;
}

.vw-40 {
	width: 40vw;
}

.vw-30 {
	width: 30vw;
}

.vw-25 {
	width: 25vw;
}

.vw-20 {
	width: 20vw;
}

.vw-15 {
	width: 15vw;
}

.btn-outline {
	background: transparent;
	color: #0469FF;
	padding: 10px 20px;
	border: 1px solid #0469FF;
	border-radius: 8px;
	cursor: pointer;
}

.textarea-spec {
	height: 100px !important;
}

.btn-transparent {
	background: transparent;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.002em;
	text-align: left;
	color: #0469FF;
	cursor: pointer;
}

.img-perum {
	background: url('../images/rumah.png');
	background-size: cover;
	border-radius: 8px;
}

.btn-fill {
	border: none;
	background: var(--primary-main);
	color: var(--white);
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
}

.pl-pemberkasan {
	padding-left: 20px;
}

.btn-fill-warning {
	border: none;
	background: #FED345;
	color: var(--white);
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
}

.title-notif-approval {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #172426;
}

.btn-fill-danger {
	border: none;
	background: #FF5963;
	color: var(--white);
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
}

.text-approve {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #02C58F;
}

.text-pending {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #718284;
}

.text-reject {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #FF5963;
}

.img-detail-akun {
	border-radius: 8px;
}

.kode-akun {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.002em;
	color: #3F4E50;
}

.link-detail-akun {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #0469FF;
}

.text-pending {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--neutral-disabled);
}

.text-display-sort {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #3F4E50;
}

.bold-number {
	font-weight: 700;
}

.select-sort {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 0.5rem center !important;
    background-size: 1em !important;
	height: 40px;
	width: 60px;
	padding-left: 10px;
	border: 2px solid #E5E5E5;
	border-radius: 8px;
}

.w-1 {
	width: 1%;
}

.w-2 {
	width: 2%;
}

.w-3 {
	width: 3%;
}

.w-4 {
	width: 4%;
}

.w-10 {
	width: 10%;
}

.w-12 {
	width: 12.5%;
}

.w-14 {
	width: 14.2%;
}

.w-5 {
	width: 5%;
}

.loading-bar {	
	background: #F5F6FD;
	border-radius: 8px;
}

.loading-success {
	padding: 5px;
	background: #02C58F;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.002em;
	color: #FFFFFF;
}

.loading-danger {
	padding: 5px;
	background: #FF5963;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.002em;
	color: #FFFFFF;
}

.flex{
	display: flex;
	
}

.flex-center-vertical{
	align-items: center;
}

.flex-start-vertical{
	align-items: flex-start;
}

.flex-end-vertical{
	align-items: flex-end;
}

.flex-center-horizontal{
	justify-content: center;
}

.flex-between-horizontal{
	justify-content: space-between;
}

.flex-evenly-horizontal{
	justify-content: space-evenly;
}

.flex-start-horizontal{
	justify-content: left;
}

.flex-end-horizontal{
	justify-content: right;
}

.flex-direction-col{
	flex-direction: column;
}

.flex-gap-large {
	grid-gap: 30px;
}

.flex-gap-extra-large {
	grid-gap: 37.5px;
}

.flex-gap-extra-large-double {
	grid-gap: 45px;
}

.flex-gap-regular {
	grid-gap: 15px;
}

.flex-gap-semi-large{
	grid-gap: 22.5px;
}

.flex-gap-small {
	grid-gap: 7.5px;
}

.flex-gap-semi-small {
	grid-gap: 11.25px;
}

.login-image {
	width: 85%;
}

.steps-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--neutral-primary);
}

.footer-text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: var(--neutral-secondary);
}

.steps-sub-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--neutral-primary);
}

.text-notif {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.002em;
	color: #3F4E50;
}

.text-notif-desc {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.002em;
	color: #3F4E50;
}

.canvas-suadmin {
	height: 100px !important;
}

.scroll-notif {
	height: 200px;
	overflow-y: scroll;

}

.text-notif-bold {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.002em;
	color: #172426;
}

.opening-brand {
	position: absolute;
	padding-top: 4vh;
	padding-left: 3vw;
	width: 14vw;
	height: 5vw;
}

.bg-opening {
	background: linear-gradient(
    to right,
    var(--primary-focus) 0%,
    var(--primary-focus) 50%,
    var(--white) 50%,
    var(--white) 100%
  );
}

.data-perum-detail {
	padding-left: 20px;
}

.title-login {
	font-family: Open Sans;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0.005em;
	text-align: left;
	color: var(--neutral-primary);
}

.sub-title-login {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: var(--neutral-primary);
}

.title-input {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--neutral-primary);
}

.no-decor {
	text-decoration: none;
}

.forgot-password {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--neutral-primary);
}

.input-col {
	padding: 25px;
/*	padding: 13px 13px 13px 40px;*/
	border: 0;
	height: 24px;
	background: #F4F5F6;
	border-radius: 8px;
}

.input-nup {
	padding: 20px;
/*	padding: 13px 13px 13px 40px;*/
	border: 0;
	height: 24px;
	background: #F4F5F6;
	border-radius: 8px;
}

.file-nup {
	padding: 10px;
	border: 0;
	background: #F4F5F6;
	border-radius: 8px;
}

.select-nup {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1rem center !important;
    background-size: 1em !important;
	height: 40px;
	padding-left: 20px;
	border: 0;
	background: #F4F5F6;
	border-radius: 8px;
}

.input-col-2 {
	padding: 20px;
/*	padding: 13px 13px 13px 40px;*/
	border: 0;
	height: 24px;
	background: var(--white);
	border-radius: 8px;
}

.input-col-2::placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--neutral-disabled);
}

.input-col::placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--neutral-disabled);
}

.button-login {
	height: 48px;
	width: 100%;
	border-radius: 8px;
	padding: 12px 20px 12px 20px;
	border: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	background: var(--primary-main);
	color: var(--white);
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.button-login-outline {
	height: 48px;
	width: 100%;
	border-radius: 8px;
	padding: 12px 20px 12px 20px;
	border: 1px solid #0469FF;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	background: var(--white);
	color: var(--primary-main);
	cursor: pointer;
}

.padding-image-register {
	padding-top: 20vh;
}

.dont-have-acc {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--neutral-primary);
}

.progress-bar-on {
	height: 4px;
	background: var(--primary-main);
	width: 25%;
}

.progress-bar-off {
	height: 4px;
	background: var(--neutral-disabled);
	width: 25%;
}

.dont-have-acc-2 {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--neutral-primary);
}

.select-col {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1rem center !important;
    background-size: 1em !important;
	height: 50px;
	padding-left: 25px;
	border: 0;
	background: #F4F5F6;
	border-radius: 8px;
}

.w-content {
	width: 2000px;

}

.w-content-3 {
	width: 1500px;
}

.w-content-2 {
	width: 4000px;
}

.w-content-7 {
	width: 2500px;
}

.w-content-4 {
	width: 10000px;
}

.w-content-6 {
	width: 22000px;
}

.w-content-5 {
	width: 6000px;
}

.border-separate {
	border-right: 1px solid #E5E5E5;
	padding: 15px;
}

.no-border-table {
	border-right: 1px solid rgba(0,0,0,0.0);
	padding: 15px;
}

.cancel-border {
	border: none !important;
}

.border-separate-2 {
	border-right: 1px solid #E5E5E5;
}

.border-separate-3 {
	border-right: 1px solid rgba(0,0,0,0.0);
}

.padding-spec-nup-1{
	margin-top: 5px;
	margin-bottom: 5px;
}

.border-bottom-seperate {
	border-bottom: 1px solid #E5E5E5;
}

.border-non-separate {
	padding: 15px;
}

.scroll-x {
	overflow-x : scroll;
}

.scroll-x-hidden{
	overflow-x: hidden;
}

.select-col-2 {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1rem center !important;
    background-size: 1em !important;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
	padding-left: 20px;
	border: 0;
	background: #FFF;
	border-radius: 8px;
}

.select-col-3 {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1rem center !important;
    background-size: 1em !important;
	height: 40px;
	padding-left: 20px;
	border: 0;
	background: #FFF;
	border-radius: 8px;
}

.padding-register {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.bg-white{
	background-color: var(--neutral-white);
}

.navbar {
	background: var(--white);
	padding: 18px 35px;
	height: 10vh;
	border-bottom: 1px solid #E5E5E5;
}

.logo-navbar {
	width: 9vw;
	height: 4.8vh;
}

.rounded-img {
	border-radius: 100%;
}

.polished-img {
	border-radius: 20%;
}

.sidebar {
	padding-top: 20px;
	background: var(--white);
	border-right: 1px solid #E5E5E5;
	position: sticky;
	top: 0;
}

.sidebar-item {
	padding: 15px;
}

.welcome-sidebar {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--neutral-primary);
}

.name-sidebar {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--neutral-secondary);
}

.position-angle {
	margin-top: 1vh;
}

.active-notif-button {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #0469FF;
	padding-bottom: 3px;
	border-bottom: 2px solid #0469FF;
	cursor: pointer;
}

.unactive-notif-button {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #718284;
	cursor: pointer;
}

.icon-sidebar {
	width: 20px;
	height: 20px;
}

.sidebar-size {
	width:86%
}

.text-sidebar {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--neutral-disabled);
}

.text-sidebar-active {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--primary-main);
}

.sidebar-content {
	padding: 15px 25px 15px 25px;
}

.height-fit {
	height: fit-content;
}

.text-drop-card {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #3F4E50;
}

.active-sidebar {
	color: var(--primary-main);
	background: var(--primary-surface);
	border-left: 2px solid var(--primary-main);
}

.line-dropdown {
	margin-bottom: 5px;
	width: 90%;
	height: 1px;
	background: var(--neutral-border);
}

.footer-sidebar {
	padding: 24px 30px 24px 30px;
	border-top: 1px solid #E5E5E5
}

#after-login-layout {
	background: var(--primary-surface);
}

.content {
	padding: 40px;
}

.text-breadcrumb {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #3F4E50;
}

.text-breadcrumb-active {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #172426;
}

.text-command-nup {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #3F4E50;
}

.text-center {
	text-align: center;
}

.title-card-tambah-nup {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #172426;
}

.title-input-nup {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #3F4E50;
}

.border-pagination {
	width: 30px;
	height: 30px;
	border: 2px solid #E5E5E5;
	border-radius: 8px;
}

/*.sidebar-content {
	background: white;
}*/



